<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>



<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
