
  <tbody>
      <tr>
        <td><%= chapter.position %></td>
        <td><%= chapter.title %></td>
        <td><%= chapter.video %></td>
        <td><%= chapter.pdf %></td>
        <td><%= chapter.audio %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Delete', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if Chapter.get_chapter_above chapter %>
            <%= link_to up_path(chapter: chapter), class: "btn btn-default" do %>
              &uarr;
            <% end %>
          <% end %>
          <% if Chapter.get_chapter_below chapter %>
            <%= link_to down_path(chapter: chapter), class: "btn btn-default" do %>
              &darr;
            <% end %>
          <% end %>
        </td>
      </tr>
  </tbody>
