
  <tbody>
      <tr>
        <td><%= chapter.title %></td>
        <td><%= chapter.position %></td>
        <td><%= chapter.video %></td>
        <td><%= chapter.pdf %></td>
        <td><%= chapter.audio %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Delete', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
