<%= form_for(@chapter) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title ,{class: "form-control"}%>
  </div>

  <div class="form-group">
    <%= f.label :video %><br>
    <%= f.text_field :video,{class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :pdf %><br>
    <%= f.text_field :pdf,{class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :audio %><br>
    <%= f.text_field :audio,{class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :story %><br>
    <%= f.collection_select :story_id, @stories, :id, :title, { 
      :selected => params[:story] }, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<!-- <div class="field"> -->
  <%#= f.label :position %>
  <%#= f.number_field :position %>
<!-- </div> -->
