<%= form_for @chapter, html: {multipart: true} do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title ,{class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :video %><br>
    <%= f.file_field :video,{class: ""} %>
  </div>

  <div class="form-group">
    <%= f.label :pdf %><br>
    <%= f.file_field :pdf,{class: ""} %>
  </div>

  <div class="form-group">
    <%= f.label :audio %><br>
    <%= f.file_field :audio,{class: ""} %>
  </div>


  <div class="form-group">
    <%= f.label :story %><br>
    <%= f.collection_select :story_id, @stories, :id, :title, {
      :selected => params[:story] }, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
