<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="container">
    <h1>Chapter List</h1>
  </div>
</div>



<div class="container">
  <p><%= link_to 'New Chapter', new_chapter_path %></p>
  <br>
  <br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Position</th>
      <th>Video</th>
      <th>Pdf</th>
      <th>Audio</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.title %></td>
        <td><%= chapter.position %></td>
        <td><%= chapter.video %></td>
        <td><%= chapter.pdf %></td>
        <td><%= chapter.audio %></td>
        <td><%= chapter.story.title %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
