<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <h1><%= @chapter.title %> Chapter</h1>
  </div>
</div>


<div class="container">
  <table class="table table-stripped">
    <tr>
      <th>Titles</th>
      <th>Values</th>
    </tr>
    <tbody>
      <tr>
        <td>Position:</td>
        <td><%= @chapter.position %></td>
      </tr>
      <tr>
        <td>Video:</td>
        <td><%= @chapter.video %></td>
      </tr>
      <tr>
        <td>Pdf:</td>
        <td><%= @chapter.pdf %></td>
      </tr>
      <tr>
        <td>Audio:</td>
        <td><%= @chapter.audio %></td>
      </tr>
      <tr>
        <td>Story:</td>
        <td><%= @chapter.story.title %></td>
      </tr>
    </tbody>
  </table>


  <%= link_to 'Edit', edit_chapter_path(@chapter) %> |
  <%= link_to 'Back', @back_to_begining_url %>

</div>
